@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@font-face {
    src : url("/fonts/Zapfino.ttf"); font-family: "Zapfino";
    src : url("/fonts/Pretendard-Bold.ttf"); font-family: "Pretendard_B";
    src : url("/fonts/Pretendard-ExtraBold.ttf"); font-family: "Pretendard_EB";
    src : url("/fonts/Pretendard-ExtraLight.ttf"); font-family: "Pretendard_EL";
    src : url("/fonts/Pretendard-Light.ttf"); font-family: "Pretendard_L";
    src : url("/fonts/Pretendard-Medium.ttf"); font-family: "Pretendard_M";
    src : url("/fonts/Pretendard-Regular.ttf"); font-family: "Pretendard_R";
    src : url("/fonts/Pretendard-SemiBold.ttf"); font-family: "Pretendard_SB";
    src : url("/fonts/Pretendard-Thin.ttf"); font-family: "Pretendard_T";
}
* {margin:0;padding:0;box-sizing:border-box;}

body
{
    font-family: "Pretendard";
    margin: 0px;
    background-color: #FDF6EE;
    background-size: 100%;
}
header
{
    color: #f2dedb;
    padding: 10px;
}

.menu
{
    margin: 15px;
    float: right;
    list-style: none;
}
.menu ul li
{
    float:left;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
}
.menu li a {
    color: #f2dedb;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.menu li a:hover {
    color: #e5c7c3;
}

.profile img{
    position: absolute;
    width: 498px;
    height: 428px;
    left: 10%;
    top: 20%;
}
.profile p {
    position: absolute;
    width: 531px;
    height: 174px;
    top: 25%;
    left: 50%;

font-style: normal;
font-weight: bold;
font-size: 45px;
line-height: 58px;

color: #707070;
}
.bt1 button{
    width: 150px;
    height: 50px;
    top:48%;
    left:50%;
    background-color: #FDF6EE;
    border: 2px solid;
    border-color: #707070;
    border-radius: 200px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #707070;
}
.bt2 button{
    width: 150px;
    height: 50px;
    top:48%;
    left:60%;
    margin-left: 10px;
    background-color: #FDF6EE;
    border: 2px solid;
    border-color: #707070;
    border-radius: 200px;
    position: absolute;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    color: #707070;
}
button:hover{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
