@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@font-face {
    src : url("/fonts/Zapfino.ttf"); font-family: "Zapfino";
    src : url("/fonts/Pretendard-Bold.ttf"); font-family: "Pretendard_B";
    src : url("/fonts/Pretendard-ExtraBold.ttf"); font-family: "Pretendard_EB";
    src : url("/fonts/Pretendard-ExtraLight.ttf"); font-family: "Pretendard_EL";
    src : url("/fonts/Pretendard-Light.ttf"); font-family: "Pretendard_L";
    src : url("/fonts/Pretendard-Medium.ttf"); font-family: "Pretendard_M";
    src : url("/fonts/Pretendard-Regular.ttf"); font-family: "Pretendard_R";
    src : url("/fonts/Pretendard-SemiBold.ttf"); font-family: "Pretendard_SB";
    src : url("/fonts/Pretendard-Thin.ttf"); font-family: "Pretendard_T";
}
* {margin:0;padding:0;box-sizing:border-box;}

body
{
    font-family: "pretendard","Zapfino";
    margin: 0px;
    background-color: #FCF9F3;
    background-size: 100%;
}
header
{
    color: #f2dedb;
    padding: 10px;
}

.menu
{
    margin: 15px;
    float: right;
    list-style: none;
    top:-30%
}
.menu ul li
{
    float:left;
    list-style: none;

}
.menu li a {
    color: #f2dedb;
    padding: 8px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
.menu li a:hover {
    color: #e5c7c3;
}



/* 갤러리 효과에 사용된 CSS입니다. */
/* Modern Normalize */
*,::after,::before{box-sizing:border-box}:root{-moz-tab-size:4;tab-size:4}html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}body{font-family:system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji'}hr{height:0}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,pre,samp{font-family:SFMono-Regular,Consolas,'Liberation Mono',Menlo,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{padding:0}progress{vertical-align:baseline}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}summary{display:list-item}
/* Layout */
.blind{
    display:none!important;
    visibility:hidden!important;
    position:absolute;
    margin:0;
    padding:0;
    clip:rect(0 0 0 0);
    pointer-events:none
}
html{
    overflow:hidden;
    min-height:100vh;
    color:#333;
    font-family:"Noto Sans KR",sans-serif;font-size:12px;
    font-weight:400;
    line-height:1.5rem;
}
.GR{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    width:100%;
    height:100vh;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;}
.gallery{
    width:1200px
}
.view{
    overflow:hidden;
    display:flex;
    position:relative;
    width:1500px;
    height:720px;
}
.view-container{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.view-container::after{
    content:'';
    position:relative;
    clear:both;
}
.view-item{
    display:flex;
    position:relative;
    float:left;
    width:100%;
    top:10%
}
.view-item img{
    width: 700px;
}
.view-text{
    margin-left: 5%;
}
.view-text > p:nth-child(1) {
    position: absolute;
    width: 639px;
    height: 60px;
    margin-left: -0.6%;

    font-family: "Pretendard_B";
    font-style: normal;
    font-weight: bold;
    font-weight: 900;
    font-size: 30px;
    line-height: 60px;
    /* identical to box height */


    color: #707070;
}
.view-text > p:nth-child(2) {
    position: absolute;
    width: 639px;
    height: 60px;
    margin-top: 3.5%;

    font-family: "Pretendard_SB";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 36px;
    /* identical to box height */


    color: #707070;
}
.view-text > p:nth-child(3) {
    position: absolute;
    width: 470px;
    height: 120px;
    margin-top: 7%;

    font-family: "Pretendard_L";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;

    color: #707070;
}

.view-text > p:nth-child(4) {
    position: absolute;
    width: 470px;
    height: 120px;
    margin-top: 25%;

    font-family: "Pretendard_R";
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;

    color: #707070;
}

.list{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    position:relative;
    margin:0;
    list-style:none;
    position: absolute;
    top: 5%;
    left: 27%;
}
.list li{
    transition : all 0.25s;
    text-align: left;
    list-style: none;
    color: #707070;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 100px;
}
.list li a{
    text-decoration: none;
    color: #707070;
    overflow:hidden;
    display:block;
    position:relative;
}
.list li:hover {
    text-decoration: underline;
}
.list li.selected a{
    cursor:default;
}


*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 18px;
}


/* Page Loader */
.js .loading::before,
.js .loading::after {
	content: '';
	position: fixed;
	z-index: 1000;
}

.js .loading::before {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5, 0.5, 1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
	outline: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible */
a:focus,
button:focus {
	/* Provide a fallback style for browsers
	 that don't support :focus-visible */
	outline: none;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
	/* Remove the focus indicator on mouse-focus for browsers
	 that do support :focus-visible */
}

a:focus-visible,
button:focus-visible {
	/* Draw a very noticeable focus style for
	 keyboard-focus on browsers that do support
	 :focus-visible */
	outline: 2px solid #443ffc;
	outline-offset: 3px;
}

a:focus-visible {
	background: none;
}

.frame {
	padding: 3rem 5vw 6rem;
	text-align: center;
	position: relative;
	z-index: 1000;
}

.frame__title {
	font-size: 1.525rem;
	margin: 0 0 1rem;
	font-weight: normal;
	cursor: default;
}

.frame__tagline {
	color: #999;
	max-width: 320px;
	margin: 1rem auto;
}

.frame__related h3 {
	margin: 0;
	padding-top: 1rem;
	font-size: 1rem;
}

.frame__related p {
	margin: 0.5rem 0;
}

.frame__links {
	display: flex;
	align-items: center;
	justify-content: center;
}

.frame__links a:not(:last-child) {
	margin-right: 2rem;
}

.github {
	width: 24px;
	height: 24px;
}

.related {
	text-align: center;
	padding: 4rem 1rem;
	min-height: 40vh;
}

.content {
	display: grid;
	width: 100%;
	margin: 0 auto;
	padding: 10vh 25px;
	max-width: 1300px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-auto-rows: 200px;
	grid-gap: 4rem;
	grid-row-gap: 6rem;
	justify-content: center;
	list-style: none;
}

.content__item {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	counter-increment: itemcounter;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 1;
	pointer-events: none;
}

.content__item::before {
	position: absolute;
	top: 0;
	left: 0;
}

.button {
	pointer-events: auto;
	cursor: pointer;
	background: #e7e7e7;
	border: none;
	padding: 1.5rem 3rem;
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	position: relative;
	display: inline-block;
}

.button::before,
.button::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.button--janus {
    top: 30%;
	font-family: 'Pretendard';
	font-weight: 700;
	width: 175px;
	height: 120px;
	color: #fff;
	background: none;
}

.button--janus::before {
	content: '';
	background: #e6e6e6;
	-webkit-clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
	clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
	transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), -webkit-clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), background 0.5s ease;
}

.button--janus:hover::before {
	background: #000;
	-webkit-clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
	clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
}

.button--janus::after {
	content: '';
	height: 86%;
	width: 97%;
	top: 5%;
	border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
	border: 1px solid #000;
	transform: rotate(-20deg);
	z-index: -1;
	transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
}

.button--janus:hover::after {
	transform: translate3d(0,-5px,0);
}

.button--janus span {
	display: block;
	transition: transform 0.3s ease;
	mix-blend-mode: difference;
}

.button--janus:hover span {
	transform: translate3d(0,-10px,0);
}

