html {background-color: black;overflow: hidden;}

.workDiv {font-family:"Noto Sans KR",sans-serif;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);color: #5f5f5f;text-align: center;}
.workDiv .workTitle {height: calc(100vw*60/1920);font-weight: 700;font-size: calc(100vw*60/1920);margin-bottom: calc(100vw*44/1920);cursor: pointer;}
.workDiv .workTitle p {white-space: nowrap;}
.workDiv .workTitle .titleLong {display: none ;margin-left: 0%;}
.workDiv .workTitle .titleLong:hover {color: #8cfa20;animation-duration: 15s;animation-iteration-count: infinite;animation-delay: 0.5s;animation-timing-function: linear;-webkit-transition:.5s;-moz-transition:.5s;-ms-transition:.5s;-o-transition:.5s;transition:.5s;}
.workDiv .workTitle .boooaoLong:hover {animation-name: slide1;}
.workDiv .workTitle .ustageLong:hover {animation-name: slide2;}
.workDiv .workTitle .paraNoiseLong:hover {animation-name: slide3;}
.workDiv .workTitle .cocoLong:hover {animation-name: slide4;}
.workDiv .workTitle .samsungLong:hover {animation-name: slide5;}

.projectThumb{display: none;position: absolute;top:0;left:0;}
.projectThumb img {transform: translate(-50%, -50%);width: calc(100vw*800/1920);opacity: 40%;}

@keyframes slide1 {0% {margin-left: 0%;}25% {margin-left: calc(100vw*-1137.48/1920);}75% {margin-left: calc(100vw*1137.48/1920);}100% {margin-left: 0%;}}
@keyframes slide2 {0% {margin-left: 0%;}25% {margin-left: calc(100vw*-807.48/1920);}75% {margin-left: calc(100vw*807.48/1920);}100% {margin-left: 0%;}}
@keyframes slide3 {0% {margin-left: 0%;}25% {margin-left: calc(100vw*-711.73/1920);}75% {margin-left: calc(100vw*711.73/1920);}100% {margin-left: 0%;}}
@keyframes slide4 {0% {margin-left: 0%;}25% {margin-left: calc(100vw*-813.61/1920);}75% {margin-left: calc(100vw*813.61/1920);}100% {margin-left: 0%;}}
@keyframes slide5 {0% {margin-left: 0%;}25% {margin-left: calc(100vw*-891.19/1920);}75% {margin-left: calc(100vw*891.19/1920);}100% {margin-left: 0%;}}

.projectPage {color: white;box-sizing: border-box;display: none;position: relative;top: 0;left: 0;width: 100%;height: 100vh;background-color: #000;z-index: 10;-webkit-transition:.5s;-moz-transition:.5s;-ms-transition:.5s;-o-transition:.5s;transition:.5s;}
.projectPage .deleteBtn{position: absolute;top: 30px;left: 30px;width: 40px;cursor: pointer;}
.projectPage .aboutProject {display: flex;font-family:"Noto Sans KR",sans-serif;width: calc(100vw*1400/1920);position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);}
.projectPage .aboutProject .aboutLeft{width: 50%;}
.projectPage .aboutProject .aboutLeft .slogan {background-color: #8cfa20;color: #000;display: inline-block;font-size: calc(100vw*18/1920);font-weight: 700;padding: calc(100vw*5/1920) calc(100vw*5/1920);}
.projectPage .aboutProject .aboutLeft .aboutTitle {color: #8cfa20;font-size: calc(100vw*100/1920);margin-bottom: calc(100vw*62/1920);}
.projectPage .aboutProject .aboutLeft .aboutText {color: #6e6e6e;width: calc(100vw*555/1920);font-size: calc(100vw*18/1920);line-height: calc(100vw*27/1920);font-weight: 700;word-break: keep-all;}
.projectPage .aboutProject .aboutLeft .aboutTag {color: #8cfa20;font-size: calc(100vw*18/1920);font-weight: 700;margin-top: calc(100vw*25/1920);}
.projectPage .aboutProject .aboutLeft .aboutTag p{display: inline-block; margin-right: calc(100vw*47/1920);}
.projectPage .aboutProject .aboutRight {width: 50%;}
.projectPage .aboutProject .aboutRight .aboutImage {position: relative;display: inline-block;-webkit-transition:.5s;-moz-transition:.5s;-ms-transition:.5s;-o-transition:.5s;transition:.5s;}
.projectPage .aboutProject .aboutRight .aboutImage:hover {box-shadow: 0 0 10px 2px #8cfa20;}
.projectPage .aboutProject .aboutRight .aboutImage img {width: 100%;}
.projectPage .aboutProject .aboutRight .aboutImage .aboutVisit {position: absolute;bottom: calc(100vw*-50/1920);right: calc(100vw*-50/1920);width: calc(100vw*140/1920);height: calc(100vw*140/1920);border-radius: 50%;background-color: #000;opacity: 0.8;border:#8cfa20 calc(100vw*2/1920) solid;color: white;-webkit-transition:.5s;-moz-transition:.5s;-ms-transition:.5s;-o-transition:.5s;transition:.5s;text-align: center;line-height: calc(100vw*30/1920);}
.projectPage .aboutProject .aboutRight .aboutImage .aboutVisit p {font-size: calc(100vw*20/1920);position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);font-weight: 700;}
.projectPage .aboutProject .aboutRight .aboutImage .aboutVisit:hover {background-color: #8cfa20;color: #000;opacity: 1;transform: rotate(30deg);}
.projectPage .aboutProject .aboutRight .aboutImage .cocoImg, .boooaoImg {border: 1px solid rgb(63, 63, 63);}