.none {
  opacity: 0%;
}
.block {
  opacity: 100%;
}

.color1 {
  animation: color1 1s forwards;
}
.color2 {
  animation: color2 1s forwards;
  animation-delay: 1s;
}
.color3 {
  animation: color1 1s forwards;
  animation-delay: 1s;
}
.color4 {
  animation: color2 1s forwards;
  animation-delay: 2s;
}
.color5 {
  animation: color1 1s forwards;
  animation-delay: 2s;
}


@keyframes color1 {
  from {
    color:#e8e8e8;
  }
  to {
    color:#000000;
  }
}
@keyframes color2 {
  from {
      color:#000000;
  }
  to {
    color:#e8e8e8;
  }
}


.up1 {
  animation: up1 1s forwards;
  animation-delay: 0.2s;
}
.up2 {
  animation: up1 1s forwards;
  animation-delay: 0.4s;
}
.up3 {
  animation: up1 1s forwards;
  animation-delay: 0.6s;
}
.up4 {
  animation: up1 1s forwards;
  animation-delay: 0.8s;
}
.up5 {
  animation: up1 1s forwards;
  animation-delay: 1s;
}
.up6 {
  animation: up1 1s forwards;
  animation-delay: 1s;
}
@keyframes up1 {
  from {
    opacity: 0%;
    transform: translateY(50px);
  }
  to {
    opacity: 100%;
    transform: translateY(0px);
  }
}

.up7 {
  animation: car 1s forwards;
  animation-delay: 0.2s;
}
@keyframes car {
  from {
    opacity: 100%;
    transform: translateX(calc(100vw * 0 / 1920));
  }
  to {
    opacity: 100%;
    transform: translateX(calc(100vw * -500 / 1920));
  }
}