
        #wrap  { max-width: 720px; margin: 0 auto; }
        html,body { position: relative; height: 100%; background-color: #fff !important; }
        body  { background: #eee; font-family: Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 14px; color: #000; margin: 0; padding: 0; }
        img  { width: 100%; vertical-align: middle; }
        .swiper  { width: 100%; height: 100%; margin-left: auto; margin-right: auto; }
        .swiper-slide  {	text-align: center; font-size: 18px; background: #fff; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; align-items: center;}
        .body-wrap  { background-color: #fff !important; max-width: 720px; margin: 0 auto; }
        .s-effect  { opacity: 0; }
        .font  { font-family: Gotham; }
        .notice  { width: 26%; height: 20px; overflow: hidden; position: absolute; right: 45.7%; top: 8.5%; }
        .rolling  { position: relative; width: 100%; height: auto; }
        .rolling li  { width: 85%; height: 23px; line-height: 25px; }
        .rolling li img  { width: 100%; }
        .rolling_stop  { display: block; width: 100px; height: 20px; background-color: #000; color: #fff; text-align: center; }
        .rolling_start  { display: block; width: 100px; height: 20px; background-color: #000; color: #0f0; text-align: center; }
        .float_menu  { width: 61px; position: fixed; right: 8%; bottom: 17%; z-index: 9999; cursor: pointer; }
        #section4 .recommend  { position: relative; }
        .recommend_text  { position: absolute; left: 50%; transform: translateX(-50%); }
        #section6 .swiper  { width: 100%; height: 100%; margin-left: auto; margin-right: auto; overflow: initial; }
        #section6 .swiper-slide{text-align:center;font-size:18px;background-color:#f8f9fa;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;-webkit-justify-content:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center}
        #section6 .swiper-button-prev, #section6 .swiper-button-next  { color: #ccc; }
        #section6 .swiper-button-prev:after,
        #section6 .swiper-button-next:after  { font-size: 1.56vw; }
        #section6 .swiper-button-prev  { left: -7.5%; }
        #section6 .swiper-button-next  { right: -7.5%; }
        #section6 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal  { position: absolute; top: -18%; height: 5%; }
        #section6 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets span  { float: left; width: 76px; border-radius: 0; height: 21px; opacity: 0; margin-left: 13px; }
        #section6 .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets span+span  { float: left; width: 61px; border-radius: 0; height: 21px; opacity: 0; margin-left: 29px; }
        #section04 .swiper-pagination  { text-align: center; width: 100%; }
        #section04 .swiper-pagination-bullet  { transition: .3s; margin: 0 3px; }
        #section04 .swiper-pagination-bullet-active  { width: 20px; border-radius: 5px; background: #ff0102; }
        #section04  { background: #fff; position: relative; overflow: hidden; }
        #section04 #section04_titile  { text-align: center; padding: 60px 0; }
        #section04 .swiper-container  { width: 100%; margin-top: -87px; padding-bottom: 170px; }
        #section04 .swiper-slide  { width: 200px; position: relative; text-align: center; background-color: transparent; height: 350px; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; transform: scale(0.8); transition: .5s; opacity: 0.8; align-content: center; flex-direction: column; align-items: center; justify-content: space-evenly; }
        #section04 .swiper-slide shadow  { box-shadow: 0 8px 20px 0 red; border-radius: 30px; }
        #section04 .swiper-slide-active  { transform: scale(1.2); opacity: 1; z-index: 1; margin: 0; }
        #section04 .swiper-slide-next  { transform: scale(0.8) translateX(-20%); }
        #section04 .swiper-slide-prev  { transform: scale(0.8) translateX(20%); }
        #section04 .swiper-slide span  { display: block; position: absolute; top: 0; left: 50%; transform: translateX(-50%); margin-top: 50px; }
        .section04_info_txt { padding-top: 50px; }
        #section04 .more_btn  { margin-top: 100px; }
        .swiper-slide img, #section6 .swiper-slide img  { display: block; width: 100%; height: 100%; object-fit: cover; }