@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ---- Body ---- */
body, html {width: 425; max-width: 425px; text-align: center; margin: 0 auto;	font-family: 'pretendardBold'; font-weight: bolder; overflow-x: hidden;}
.phone {position: fixed; top: 0; left: 0; right: 0; margin: 0 auto; text-align: center;}
.phone img {width: 399px; height: 800px;object-fit: cover;}
.total {width: 100%; text-align: center; margin: 0 auto; background-color: #fff;}
.total-container {background-color: #fff; position: absolute; top: 10px; left: 50%; transform: translateX(-50%); width: 380px; height: 780px; overflow-y: scroll; text-align: center; margin: 0 auto; border-radius: 32px;}
.total-container::-webkit-scrollbar {display: none;}


/* ---- Body ---- */
body{width:100%;height:100%; background-color: #fff; -ms-overflow-style: none;  cursor: url("../img/Accord-02.jpg"), auto;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 auto;
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}

/* ---- header ---- */
header {width: 378px; height: 47px; position: relative; z-index: 100; position: fixed; background-color: rgba(0, 0, 0, 0.3);}
header nav {padding: 8px;}
header nav .left,
header nav .center {display: inline-block; }   
header nav .left {text-align: left; margin-top: 10px; margin-left: -125px;}
header nav .left img {width:16px; height: 8px;}
header nav .center {margin-top: 2px; text-align: center; margin-left: 130px;}
header nav .center img {width:43px; height: 30px;}
header nav .right {float: right; margin-top: 6px; margin-right: 10px;}
header nav .right img {width:16px; height: 17px;}

/* ---- section1 ---- */
#section1 { width: 380px; height: 812px;}
#section1 .banner{overflow:hidden;position:relative;width:100%;height:100%; z-index: 0;}
#section1 .banner .banner-item{display:-webkit-box;display:-ms-flex;display:flex;position:relative;float:left;width:100%;height:100%;-webkit-box-orient:vertical;-ms-flex-direction:column;flex-direction:column;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center}
#section1 .banner .image-area{position:absolute;width:100%;}
#section1 .banner .image-area .mainVideo {width: 100%; height: 812px; display:inline-block; vertical-align:top;}
#section1 .banner .text-area {position:relative; z-index: 1;width:100%; height: 812px; text-align:center; padding-top: 310px; background-color: rgba(0, 0, 0, 0.5);}
#section1 .banner .text-area .title{opacity: 0; font-family: 'Noto Sans KR', sans-serif; font-size:40px; font-weight: 700; line-height:58px; color:#ffffff;}
#section1 .banner .text-area .desc {opacity: 0; font-family: 'Montserrat', sans-serif; font-size:16px; font-weight: 700; line-height: 19px; color:#ffffff; margin-top: 5px;}
#section1 .banner .text-area a {margin-top: 30px; width: 130px; height: 35px; justify-content: center; display:inline-table;}
#section1 .banner .text-area .more-btn{opacity: 0; background: #DD001A; border-radius: 100px; text-align: center; font-family: 'Noto Sans KR', sans-serif; font-size:12px; font-weight: 400; line-height:35px; color:#ffffff; }
#section1 .banner .text-area ul {display: flex; justify-content: center; margin-top: -10px;}
#section1 .banner .text-area ul li {opacity: 0; }
#section1 .banner .text-area ul li:last-child {margin-left:-55px;}
#section1 .banner .text-area ul li a {text-align: center; font-family: 'Noto Sans KR', sans-serif; font-size:16px; font-weight: 400; line-height:24px; color:#ffffff; text-decoration: underline;}
#section1 .banner .video-btn {display: flex; float: right; margin-top: -120px; margin-right: 40px; z-index: 100; position: relative;}
#section1 .banner #play-button {margin-left: -40px;  }
#section1 .banner .pauseBtn img {width:40px; height: 40px;}
#section1 .banner .playBtn img {width:40px; height: 40px;}


/* ---- section2 ---- */
#section2 {cursor: url("../img/cursor.png"), grab; width: 100%; height: 500px; background-color: #fff;}
#section2 .text-area {height: 400px; text-align: start; transition: all ease-in-out 0.3s;width: 100%; padding-left: 20px; padding-top: 130px;}    
#section2 .text-area:nth-child(2) {margin-top: -400px;}
#section2 .text-area:nth-child(3) {margin-top: -400px;}
#section2 .text-area:nth-child(4) {margin-top: -400px;}
#section2 .text-area .title img {width: auto; height: 8px;}
#section2 .text-area ul {margin-top: 20px; font-family: 'Noto Sans KR', sans-serif; font-size: 28px; font-weight: 600; line-height: 36px;  color:#e8e8e8; transition: .5s;}
#section2 .text-area ul li {transition: .5s;}
#section2 .text-area p {margin-top: 50px; font-family: 'Noto Sans KR', sans-serif; font-size: 14px; font-weight: 600; line-height: 12px;  color:#222222;}
#section2 .image-area {align-items: center; }
#section2 .image-area img {  object-fit: cover;}

#section2 .swiper {position: relative; float: right; margin-top: 100px; width: 100%; height: 300px;}
#section2 .swiper-pagination-bullet {width: 12px; height: 2px; border-radius: 0;margin-left: 2px;}
#section2 .swiper .swiper-wrapper{width: 100vw; height: 100vh; position: relative;}
/* ---- section3 ---- */
#section3 {padding-top: -200px; width: 100%;}
