* {margin:0; padding:0;}
ul li {list-style:none; color:#eef8ff;}
/* .clearfix:after{content:'';display:block; clear:both;} */

body {    background-color: #eef8ff; overflow-y:scroll;padding-top:100px;}

header {	
	margin-top:20px;
	background:linear-gradient(black 50px, rgba(43, 43, 43, 0.3) 50px);
    height:50px;
    overflow:hidden;
	position:absolute;
	left:0; right:0;
	top:0;
}


nav {width:960px; margin:0 auto;}
nav > ul > li {float:left; line-height:50px; margin-right:40px;}
nav > ul > li ul{ width:100%;}

main p{
	margin-bottom:27px;
}