body, html {width: 425; max-width: 425px; text-align: center; margin: 0 auto;	font-family: 'pretendardBold'; font-weight: bolder; overflow-x: hidden;}
.phone {position: fixed; top: 0; left: 0; right: 0; margin: 0 auto; text-align: center;}
.phone img {width: 399px; height: 800px;object-fit: cover;}
.total {width: 100%; text-align: center; margin: 0 auto;}
.total-container {position: absolute; top: 15px; left: 50%; transform: translateX(-50%); width: 377px; height: 775px; overflow-y: scroll; text-align: center; margin: 0 auto; border-radius: 32px;}
.total-container::-webkit-scrollbar {display: none;}
.header-container {width: 100%; text-align: center; margin: 0 auto; position: fixed; top: 10px; left: 0; z-index: 10000;}
header {width: 375px; height: 65px; box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.1); margin: 0 auto; text-align: center; background: #fff; border-top-left-radius: 32px; border-top-right-radius: 32px;}
header .container {width: 100%; padding: 15px 20px 0; display: flex;}
header .container .left {text-align: left; flex: 1}
header .container .left .logo {width: 50px; height: 32px; background-image: url('../img/logo.png'); background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover;}
header .container .right {text-align: right; flex: 1;}
header .container .right .hamburger {display: inline-block; width: 34px; height: 34px; background-image: url('../img/hamburger.png'); background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover;}

.border {width: 100%; height: 1px; background: #D2D2D7; margin: 30px 0;}
.wrap {width: 100%; padding: 0 24px;}
.main-container {width: 100%; height: 100%; margin: 0 auto; top: -10px; text-align: center; position: relative;}

.comparison-container {display: none; position: absolute; top: 0; left: 50%; transform: translateX(-50%); z-index: 10000; width: 377px; height: 1736px;}
.comparison-container.on {display: block; position: fixed;}
.comparison-container .dim {position: absolute; top: 0; left: 0; text-align: center; width: 100%; height: 800px; background: rgba(0, 0, 0, 0.5); z-index: 100; border-radius: 32px;}
.comparison-container .comparison {position: absolute; top: 77px; left: 50%; transform: translateX(-50%); width: 340px; height: 600px; background: #fff; z-index: 101;}
.comparison-container .comparison .border {margin: 9px 0 11.9px; width: 100%; height: 1px; background: #000;}
.comparison-container .comparison .main-title {width: 100%; display: flex; padding: 13px 20px; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);}
.comparison-container .comparison .main-title .left {flex: 1; text-align: left;}
.comparison-container .comparison .main-title .left h4 {font-size: 14px; line-height: 16px; font-weight: bolder; font-family: 'Pretendard-ExtraBold';}
.comparison-container .comparison .main-title .right {flex: 1; text-align: right;}
.comparison-container .comparison .main-title .right .close {display: inline-block; width: 12.53px; height: 12.53px; background-image: url('../img/close.png'); background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover; cursor: pointer; user-select: none;}
.comparison-container .comparison .car-list {width: 100%; padding: 31px 15.5px; display: flex;}
.comparison-container .comparison .car-list .car {flex: 1;}
.comparison-container .comparison .car-list .car .text {margin: 0 auto; text-align: center; margin-bottom: 1px;}
.comparison-container .comparison .car-list .car .text span {font-size: 16px; vertical-align: middle; font-weight: bolder;}
.comparison-container .comparison .car-list .car .text .arrow {display: inline-block; width: 10px; height: 5px; background-image: url('../img/arrow.png'); background-repeat: no-repeat; background-position: center; background-size: cover; object-fit: cover; margin-left: 5.1px; vertical-align: middle;}
.comparison-container .comparison .car-list .car .image {width: 150px; height: 93px; background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover;}
.comparison-container .comparison .car-list .car:nth-child(1) .image {background-image: url('../img/accord_car.png');}
.comparison-container .comparison .car-list .car:nth-child(2) .image {background-image: url('../img/crv_car.png');}
.comparison-container .dropbtn {border: none; display: block; text-align: center; padding: 0; cursor: pointer;}
.comparison-container .dropbtn span {font-size: 24px; color: #000;	font-family: 'pretendardBold';}
.comparison-container .dropdown-content {display: none; position: absolute; background-color: #f1f1f1; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; width: 100%;}
.comparison-container .dropdown-content a {color: #000; padding: 12px 16px; text-decoration: none; display: block; width: 100%;}
.comparison-container .dropdown-content a:hover {background-color: #ddd;}
.dropdown-content.on {display: block;}

.comparison-container .comparison .engine-container,
.comparison-container .comparison .gearbox-container,
.comparison-container .comparison .size-container {width: 100%; padding: 0 15px;}
.comparison-container .comparison .gearbox-container {margin-bottom: 25px;}
.comparison-container .comparison .title h2 {font-size: 16px; text-align: left; font-weight: bolder;}
.comparison-container .comparison .engine-list,
.comparison-container .comparison .gearbox-list,
.comparison-container .comparison .size-list {width: 100%; display: flex; margin-bottom: 9.1px;}
.comparison-container .comparison .engine,
.comparison-container .comparison .gearbox,
.comparison-container .comparison .size {flex: 1; padding: 25px 16px 25.1px; margin-right: 10px; background: #F8F8F8; border-radius: 10px;}
.comparison-container .comparison .engine {height: 405px;}
.comparison-container .comparison .engine:last-child,
.comparison-container .comparison .gearbox:last-child,
.comparison-container .comparison .size:last-child {margin-right: 0;}
.comparison-container .comparison .engine .text,
.comparison-container .comparison .gearbox .text,
.comparison-container .comparison .size .text {margin-bottom: 16px; text-align: left;}
.comparison-container .comparison .engine .text:last-child,
.comparison-container .comparison .gearbox .text:last-child,
.comparison-container .comparison .size .text:last-child {margin-bottom: 0;}
.comparison-container .comparison .text .sub-title {margin-bottom: 6.9px;}
.comparison-container .comparison .text .sub-title:last-child {margin-bottom: 0;}
.comparison-container .comparison .text .title {margin-bottom: 0;}
.comparison-container .comparison .text .sub-title h6 {font-size: 12px; color: #999999;	font-family: 'Pretendard-Regular'; font-weight: 300;}
.comparison-container .comparison .text .title h2 {font-size: 20px;}
.comparison-container .comparison .text .title h2 {font-size: 20px;}

.comparison-container .comparison .engine-option .engine {display: inline-block; width: 50px; height: 50px; background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover; margin-right: 0;}
.comparison-container .comparison .engine-option .engine:nth-child(1) {position: relative; background: #000; border-radius: 6px; margin-right: 2px;}
.comparison-container .comparison .engine-option .engine:nth-child(1) .text {width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; text-align: center; font-size: 12px; line-height: 15px;}
.comparison-container .comparison .engine-option .engine:nth-child(2) {background-image: url('../img/engine2.png'); border-radius: 6px;}

.comparison-container .comparison .engine:nth-child(3) .engine-option .engine:nth-child(1),
.comparison-container .comparison .engine:nth-child(4) .engine-option .engine:nth-child(1) {background-image: url('../img/engine3.png');}
.comparison-container .comparison .gearbox-option {width: 50px; height: 50px; position: relative; background: #fff; border: 2px solid #000; border-radius: 6px;}
.comparison-container .comparison .gearbox-option .text {text-align: center; position: absolute; top: 50%; left: 50%; width: 100%; font-size: 13px; transform: translate(-50%, -50%); font-weight: bolder;}

section {position: relative; width: 100%; top: 0; left: 0; font-size: 0;}
section .form-container {position: absolute; top: 0; right: 0; display: inline-block; width: 100%;}
body.on { overflow: hidden; max-height: 1574px; position: fixed;}
.scroll {height: 350px; overflow-y: scroll;}
.scroll::-webkit-scrollbar {opacity: 0;}
section .form-container::-webkit-scrollbar {display: none;}

.step-container {display: none; position: fixed; width: 377px; top: 70px; left: 50%; transform: translateX(-50%); background: #fff; z-index: 99;}
.step-container.on {display: block;}
.step-container .step {width: 100%; padding: 0 24px; padding-top: 16px; display: flex;}
.step-container li {flex: 1; font-size: 22px; text-align: left; line-height: 26px; color: rgba(0,0,0,0.15);}
.step-container li::after {content: ''; display: block; margin-top: 8px; width: 0%; height: 4px; background: #000; opacity: 0; transition: all ease-in-out 0.3s;}
.step-container li.active::after {opacity: 1; width: 100%;}
.step-container li a {color: rgba(0,0,0,0.15);}
.step-container li.active a {color: #000;}
.main-image {display: none; margin-top: 119px; width: 100%; height: 294px; position: relative;}
.sketchfab-embed-wrapper {display: none; position: absolute; bottom: 0; left: 0; width: 377px !important; height: 294px !important;}
.sketchfab-embed-wrapper.on {display: block;}
.car-model {width: 377px !important; height: 294px !important;}
.main-image.on {display: block;}
.main-image .image {width: 100%; height: 100%;}
.main-image .angle {display: none; position: absolute; top: 22px; left: 24px; width: 40px; height: 40px; background-image: url('../img/angle.png'); background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover;}
.main-image .angle.on {display: block;}
.main-image .button-container {display: none; position: absolute; width: 100%; bottom: 30px; left: 50%; transform: translateX(-50%);}
.main-image .button-container.on {display: block;}
.main-image .button-container .button {position: relative; display: inline-block; width: 100px; height: 34px; background: transparent; border: 1px solid #000; cursor: pointer; transition: all ease-in-out 0.3s; user-select: none;}
.main-image .button-container .button:first-child {margin-right: 7px;}
.button-container .button.on {color: #000; border: 1PX solid #000; background: #FFF;}
.button-container .button.on h5 {color: #000;}
.main-image .button-container .button.active {background: #000; border: none;}
.main-image .button-container .button h5 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 12px; text-align: center; color: #000;	font-family: 'Pretendard-ExtraBold';}
.main-image .button-container .button.active h5 {color: #fff;}
.slideContainer {display: none;}
.slideContainer.on {display: block;}
.slideContainer ul li {position: absolute; top: 0; left: 0; right: 0; bottom: 0; opacity: 0; animation: mainFade 12.5s infinite;}
.slideContainer .slideList li:first-child {animation-delay: 0s;}
.slideContainer .slideList li:nth-child(2) {animation-delay: 4.5s;}
.slideContainer .slideList li:nth-child(3) {animation-delay: 8.5s;}
.slideContainer .slideList li .slideImg {width: 100%; height: 100%; background-repeat: no-repeat; background-size: cover; background-position: center center;}
.slideContainer .slideList li:first-child .slideImg {background-image: url("../img/trim.png");}
.slideContainer .slideList li:nth-child(2) .slideImg {background-image: url("../img/option.png");}
.slideContainer .slideList li:nth-child(3) .slideImg {background-image: url("../img/color.png");}
.slideContainer ul li::before {content: ""; display: block; margin: 0; position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: black; opacity: 0; z-index: -1;}
@keyframes mainFade {
  0% {opacity: 0;}
  5% {opacity: 1;}
  25% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 0;}
}

.step-title {margin-bottom: 20px; text-align: left;}
.step-title h2 {font-size: 28px; line-height: 33px; font-family: 'Pretendard-ExtraBold'; font-weight: bolder;}

#model {height: 1100px;}
#estimate {height: 1340px;}
.contents {display: none;}
.contents.active {display: block;}
.contents-container {margin-top: 40px;}
.contents-container .contents .title {margin-bottom: 14px; width: 100%; display: flex; text-align: left;}
.contents-container .contents .title h2 {display: inline-block; font-weight: bolder; text-align: left; flex: 1; color: #000; font-size: 18px; line-height: 21px;}
.contents-container .contents .title .more {display: inline-block; flex: 1; text-align: right; font-size: 13px; line-height: 15px; color: #CC2132; vertical-align: middle;}
.contents-container .contents .title .more .icon {margin-left: 4.6px; display: inline-block; width: 6px; height: 12px; background-image: url('../img/more.png'); background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover; vertical-align: middle;}
.dropdown {position: relative; display: inline-block; width: 100%;}
.dropbtn {background: #fff; color: #999999; padding: calc(100vw*20/1920); font-size: calc(100vw*18/1920); border: 1px solid #DDDDDD; border-radius: calc(100vw*10/1920); text-align: left; width: 100%; display: flex;}
.dropbtn div {flex: 1; display: inline-block;}
.dropbtn .text {text-align: left;}
.dropbtn .down-arrow-container {text-align: right;}
.dropbtn .down-arrow {display: inline-block; width: 10.5px; height: 5.25px; background-image: url('../img/down_arrow.png'); background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover; vertical-align: middle;}
.dropdown-content {display: none; position: absolute; background-color: #f1f1f1; box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 1; width: 100%;}
.dropdown-content a {color: #000; padding: 12px 16px; text-align: center; text-decoration: none; display: block; width: 100%;}
.dropdown-content a:hover {background-color: #ddd;}

.bottom-button-container {display: none; width: 100%; position: fixed; top: 657px; z-index: 1000; left: 0; text-align: center; margin: 0 auto;}
.bottom-button-container.active {display: block;}
.bottom-button {width: 377px; margin: 0 auto; text-align: center;}
.total-price {position: relative; width: 100%; height: 70px; background: #F5F5F5;}
.total-price.active {display: block;}
.total-price .text-container {padding: 0 24px; position: absolute; top: 50%; left: 50%; width: 100%; display: flex; transform: translate(-50%, -50%);}
.total-price .text-container div {flex: 1; vertical-align: middle;}
.total-price .text-container .text {text-align: left; font-size: 13px; line-height: 15px; display: inline-block; vertical-align: middle; margin-top: 5px;}
.total-price .text-container .price {text-align: right; font-size: 20px; line-height: 24px; vertical-align: middle;}

.estimate-button {position: relative; width: 100%; height: 63px; background: #CC2132; border-bottom-left-radius: 32px; border-bottom-right-radius: 32px;}
#estimate-button-two {display: flex;}
#estimate-button-two .consulting {position: relative; flex: 1; background: #000; border-bottom-left-radius: 32px;}
#estimate-button-two .buy {position: relative; flex: 1; background: #CC2132; cursor: pointer; border-bottom-right-radius: 32px;}
#estimate-button-two .consulting .text {color: #fff;}
.estimate-button a {display: inline-block; width: 100%; height: 100%;}
.estimate-button .text {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 16px; line-height: 19px; color: #fff;}

.model-list,
.contents .trim-list {width: 100%; display: grid; grid-template-columns: 1fr 1fr; row-gap: 7px; column-gap: 7px;}
.model-list .model-opt,
.contents .trim-list .trim-opt {width: 159px; height: 66px; border-radius: 10px; background: #F2F2F2; border: 1px solid #DDDDDD; position: relative; cursor: pointer; transition: all ease-in-out 0.1s; user-select: none;}
.model-list .model-opt.active,
.contents .trim-list .trim-opt.active {background: #000;}
.model-list .model-opt .text-container,
.contents .trim-list .trim-opt .text-container {width: 100%; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center;}
.model-list .model-opt .title,
.contents .trim-list .trim-opt .title {display: inline-block; text-align: center; font-size: 14px; color: #999999; margin-bottom: calc(100vw*5/1920); font-family: 'Pretendard-Medium';}
.model-list .model-opt.active .title,
.contents .trim-list .trim-opt.active .title {color: #fff;}
.model-list .model-opt .price,
.contents .trim-list .trim-opt .price {font-size: 12px; color: #999999; font-family: 'Pretendard-Regular';}
.model-list .model-opt.active .price,
.contents .trim-list .trim-opt.active .price {color: #C7C7C7;}

.contents .option-list {width: 100%; display: grid; grid-template-columns: 1fr 1fr; row-gap: 10px; column-gap: 10px;}
.contents .option-list .opt {width: 159px; height: 133px; border-radius: 10px; border: 1px solid #DDDDDD; overflow: hidden; transition: all ease-in-out 0.1s; cursor: pointer; background: #F2F2F2;}
.contents .option-list .opt.active {border: 2px solid #000;}
.contents .option-list .opt .image {width: 159px; height: 90px; background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover;}
.contents .option-list .opt:nth-child(1) .image {background-image: url('../img/option1_sun.png');}
.contents .option-list .opt:nth-child(2) .image {background-image: url('../img/option2_around.png');}
.contents .option-list .opt:nth-child(3) .image {background-image: url('../img/option3_camera.png');}
.contents .option-list .opt:nth-child(4) .image {background-image: url('../img/option4_vvcl.png');}
.contents .option-list .opt .check-container {padding: 10px 14px 14px; vertical-align: middle;} 
.contents .option-list .opt .check {text-align: left;}
.contents .option-list .opt .check .checkbox {display: inline-block; text-align: left; width: 16px; height: 16px; background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover; background-image: url('../img/check.png'); margin-right: 8px; vertical-align: middle;}
.contents .option-list .opt.active .check .checkbox {text-align: left; background-image: url('../img/check_on.png');}
.contents .option-list .opt .check .text {font-size: 14px; text-align: left; color: #999999;	font-family: 'Pretendard-Medium'; vertical-align: middle;}
.contents .option-list .opt.active .check .text {color: #000;}

.contents .color {margin-bottom: 200px;}
.contents .color-list li {position: relative; text-align: left; display: inline-block; margin-right: 8px; width: 54px; height: 54px; border-radius: 50%; cursor: pointer;}
.contents .color-list li.active {border: 2px solid #000;}
.contents .color-list li:last-child {margin: 0;}
.contents .color-list li .color-chip {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 40px; height: 40px; background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover;}
.contents .color-list #blue div {background-image: url('../img/color_blue.png');}
.contents .color-list #green div {background-image: url('../img/color_green.png');}
.contents .color-list #black div {background-image: url('../img/color_black.png');}
.contents .color-list #yellow div {background-image: url('../img/color_yellow.png');}
.contents .color-list #white div {background-image: url('../img/color_white.png');}
/* ------------------------------------------------- */

.contents .accord-container {position: relative; width: 100%; height: 155px; background: #F2F2F2; border: 1px solid #D2D2D7; border-radius: 10px;}
.contents .accord-container .text-container {position: absolute; text-align: left; top: 47%; left: 21px; transform: translateY(-50%);}
.contents .accord-container .text-container .title {margin-bottom: 3px;}
.contents .accord-container .text-container .title h2 {font-size: 36px; line-height: 42px;}
.contents .accord-container .text-container .sub-title {margin-bottom: 22px;}
.contents .accord-container .text-container .sub-title h4 {font-size: 13px; line-height: 15px; color: #CC2132;}
.contents .accord-container .text-container .option-text .color {margin-bottom: 5px; font-size: 12px; font-family: 'Pretendard-Medium';}
.contents .accord-container .text-container .option-text .option {font-size: 12px;	font-family: 'Pretendard-Medium';}
.contents .accord-container .image {position: absolute; top: 64%; right: 0; transform: translateY(-50%); width: 142px; height: 80px; background-image: url('../img/accord.png'); background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover;}

.contents .delivery-container .title {margin-bottom: 26px;}
.contents .delivery-container .delivery-list {width: 100%; display: flex;}
#estimate .left {flex: 0.3;}
#estimate .left ul li {margin-bottom: 24px; text-align: left; font-size: 14px; font-family: 'Pretendard-Medium'; color: #000;}
#estimate .left ul li:last-child {margin: 0;}
#estimate .right {flex: 0.7; text-align: right;}
#estimate .right ul li {font-size: 14px; line-height: 16px;}
#estimate .right ul #place {margin: 14px 0; width: 100%; display: flex;}
#estimate .right ul #place .dropbtn {background: #fff; color: #000; padding: 10px; font-size: 14px; border: 1px solid #D2D2D7; border-radius: 4px; text-align: left; width: 100%; display: flex; font-family: 'Pretendard-Medium';}
#estimate .right ul #place .dropdown:first-child {margin-right: 8px;}
#estimate .right ul #place .dropbtn .text {flex: 0.8;}
#estimate .right ul #place .dropbtn .down-arrow-container {flex: 0.2;}
#estimate .right ul #place .dropdown:hover .dropdown-content {text-align: center;}

.contents .Payment-container .method-container {width: 100%; display: flex;}
.contents .Payment-container .method-container .method {position: relative; flex: 1; height: 66px; background: #F2F2F2; border: 1px solid #D2D2D7; border-radius: 10px; transition: all ease-in-out 0.1s; cursor: pointer;}
.contents .Payment-container .method-container .method.active {background: #000;}
.contents .Payment-container .method-container .method:first-child {margin-right: 9px;}
.contents .Payment-container .method-container .method .text {position: absolute; top: 50%; left: 50%; width: 100%; transform: translate(-50%, -50%); text-align: center; font-size: 14px; line-height: 16px; color: #888888; font-family: 'Pretendard-Medium';}
.contents .Payment-container .method-container .method.active .text {color: #fff;}

.contents .registration-container {margin-bottom: 30px;}
.contents .registration-container .registration-list {width: 100%; display: flex;}
.contents .registration-container .title {margin-bottom: 25px;}
#estimate .registration-container .registration-list .left ul li {line-height: 16px; margin-bottom: 14px; text-align: left;}
#estimate .registration-container .registration-list .left ul li:last-child {margin: 0;}
#estimate .registration-container .registration-list .right {margin-top: -9px;}
#estimate .registration-container .registration-list .right ul li {margin-bottom: 15px;}
#estimate .registration-container .registration-list .right ul li:last-child {margin: 0;}
#estimate .registration-container .registration-list .right ul #division {display: inline-block; position: relative; text-align: right; width: 66px; height: 30px; background: #F2F2F2; border: 1px solid #D2D2D7; border-radius: 4px; margin-bottom: 10px;}
#estimate .registration-container .registration-list .right ul #division h4 {position: absolute; top: 50%; right: 12px; transform: translateY(-50%); text-align: right; font-size: 14px; font-family: 'Pretendard-Medium';}

.contents .caution-container {width: 100%; padding: 21.9px 20px 25px; background: #F4F4F4; border-radius: 10px; margin-bottom: 200px;}
.contents .caution-container .caution {width: 100%; height: 100%;}
.contents .caution-container .caution .title {margin-bottom: 13px;}
.contents .caution-container .caution .title h4 {font-size: 13px; line-height: 28px; color: #555; font-family: 'Pretendard-ExtraBold'; font-weight: bolder;}
.contents .caution-container .caution .text h6 {font-size: 12px; line-height: 19px; font-weight: 300; color: #888; font-family: 'Pretendard-Light';}
.contents .caution-container .caution .text h6 p {margin-bottom: 13px; text-align: left;}
.contents .caution-container .caution .text h6 p:last-child {margin-bottom: 0;}
/* ------------------------------------------------------ */

.buy-container {display: none;}
.buy-container.on {display: block;}
.main-wrap {width: 100%; padding: 120px 24px 50px; margin: 0 auto;}
.main-wrap .title {margin: 0 auto; margin-bottom: 22px; text-align: center;}
.main-wrap .title h2 {margin: 0 auto; text-align: center; font-size: 28px; line-height: 33px; margin-bottom: 14px; color: #CC2132;}
.main-wrap .title .check {margin: 0 auto; text-align: center; width: 36px; height: 36px; background-image: url('../img/check_circle.png'); background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover;}
.main-wrap .text {margin-bottom: 52px;}
.main-wrap .text h6 {text-align: center; font-size: 16px; line-height: 23px;	font-family: 'Pretendard-Medium';}
.main-wrap .number-container {position: relative; width: 100%; height: 88px; margin-bottom: 40px; background: #000;}
.main-wrap .number-container .number {position: absolute; text-align: left; top: 55%; transform: translateY(-50%); width: 100%; height: 100%; padding: 0 23px; font-size: 0;}
.main-wrap .number-container span {font-size: 15px; line-height: 48px; color: #fff;}
.main-wrap .number-container span:last-child {margin-left: 8px;}
.main-wrap .number-container h4 {font-size: 15px; color: #fff;	font-family: 'Pretendard-Medium';}

.main-wrap .contents-container {width: 100%; margin-top: 0;}
.main-wrap .contents-container .contents .title {margin-bottom: 25px;}
.main-wrap .contents-container .contents .title h2 {margin-bottom: 0; text-align: left; font-size: 18px; line-height: 21px;	font-family: 'Pretendard-ExtraBold';}
.main-wrap .contents-container .contents {width: 100%; display: flex;}
.main-wrap .contents-container .contents .left {text-align: left; flex: 0.4;}
.main-wrap .contents-container .contents .right {text-align: right; flex: 0.6;}
.main-wrap .contents-container .left {margin-top: 0;}

.main-wrap .contents-container .contents ul li {font-size: 14px; color: #000; margin-bottom: 16px;}
.main-wrap .contents-container .contents ul li:last-child {margin-bottom: 0;}
.main-wrap .contents-container .first .right .red {color: #CC2132;}
.main-wrap .contents-container .first .right .bold {font-family: 'pretendardBold';}
.main-wrap .border {width: 100%; height: 1px; background: #CBCBCB; margin: 30px 0;}
.main-wrap .contents-container .title {vertical-align: bottom; text-align: left; width: 100%; display: flex; margin-bottom: 25px;}
.main-wrap .contents-container .title h2 {vertical-align: bottom; margin-bottom: 0; flex: 1; font-size: 18px; text-align: left;	font-family: 'Pretendard-ExtraBold'; font-weight: bolder; color: #000;}
.main-wrap .contents-container .four .title h2 {flex: 0.45;}
.main-wrap .contents-container .four .title .price {flex: 0.55;}
.main-wrap .contents-container .title .gray {font-size: 12px; font-family: 'Pretendard-Regular'; font-weight: 100; color: #888888; margin-left: 5px;}
.main-wrap .contents-container .title .price {flex: 1; text-align: right; font-size: 18px;}
.main-wrap .contents-container .title .price .red {font-size: 12px; font-family: 'Pretendard-Medium'; color: #CC2132; margin-right: 6px; vertical-align: bottom;}

.main-wrap .contents-container .right-container {margin-top: 40px; width: 100%; background: #F8F8F8; border: 1px solid #CBCBCB;}
.main-wrap .contents-container .right-container ul li {margin-bottom: 5px;}
.main-wrap .contents-container .right-container .right {width: 100%; height: 100%; padding: 43px 21px 22px;}
.main-wrap .contents-container .right-container .right .image {margin: 0 auto; text-align: center; background-image: url('../img/accord_min.png'); width: 247px; height: 96px; background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover; margin-bottom: 20px;}
.main-wrap .contents-container .right-container .right .text-container {margin-bottom: 28px; text-align: left;}
.main-wrap .contents-container .right-container .right .accord {height: 31px; margin-bottom: 7px;}
.main-wrap .contents-container .right-container .right .accord h2 {font-size: 26px; line-height: 32px;}
.main-wrap .contents-container .right-container .right .text-container .option p {line-height: 15px; font-size: 13px; font-family: 'Pretendard-Medium';}
.main-wrap .contents-container .right-container .right .text-container .option p:first-child {margin-bottom: 4px;}
.main-wrap .contents-container .right-container .right .text-container .border {width: 100%; height: 1px; background: #000;}
.main-wrap .contents-container .right-container .right .text-container .border.one {margin: 28px 0 26px;}
.main-wrap .contents-container .right-container .right .text-container .border.two {margin: 26px 0;}
.main-wrap .contents-container .right-container .right .text-container .title {margin-bottom: 20px; display: flex; width: 100%;}
.main-wrap .contents-container .right-container .right .text-container .title h2 {flex: 1; text-align: left; vertical-align: middle; font-size: 13px; line-height: 32px; margin-bottom: 0;}
.main-wrap .contents-container .right-container .right .text-container .title span {flex: 1; text-align: right; vertical-align: middle; font-size: 18px; line-height: 33px;}
.main-wrap .contents-container .right-container .right .text-container .contents {width: 100%; display: flex;}
.main-wrap .contents-container .right-container .right .text-container .contents .left {margin: 0;}
.main-wrap .contents-container .right-container .right .text-container .contents .left,
.main-wrap .contents-container .right-container .right .text-container .contents .right {flex: 1; padding: 0;}
.main-wrap .contents-container .right-container .right .text-container .contents .left ul li {font-size: 13px; line-height: 24px;}
.main-wrap .contents-container .right-container .right .text-container .contents .right {text-align: right;}
.main-wrap .contents-container .right-container .right .text-container .contents .right ul li {font-size: 13px; line-height: 24px; color: #000; font-family: 'Pretendard-Medium';}
.main-wrap .button-container {width: 100%; height: 56px; background: #CC2132; position: relative;}
.main-wrap .button-container h2 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 15px; line-height: 18px; color: #fff;}
.footer-banner {width: 100%; height: 99px; background-image: url('../img/footer_banner.png'); background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover;}
.footer {width: 100%; height: 402px; background-image: url('../img/footer.png'); background-position: center; background-repeat: no-repeat; background-size: cover; object-fit: cover;}