.section {border: 1px solid blue; width: fit-content;}
#container1 {display: flex;}
#container1 .btn {cursor: pointer; margin: 10px; width: 100px; height: 100px; border: 1px solid black;}
#container1 .btn.active {background-color: blueviolet;}

#container2 {display: flex;}
#container2 .btn {cursor: pointer; margin: 10px; width: 100px; height: 100px; border: 1px solid black;}
#container2 .btn.active {background-color: blueviolet;}