@font-face {
    font-family: 'pretendardExtraBold';
    src: url('../font/Pretendard-1.2.1/public/static/Pretendard-ExtraBold.otf') format('opentype');
}
@font-face {
    font-family: 'pretendardBold';
    src: url('../font/Pretendard-1.2.1/public/static/Pretendard-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'pretendardMedium';
    src: url('../font/Pretendard-1.2.1/public/static/Pretendard-Medium.otf') format('opentype');
}

body {
    overflow-x: hidden;
    font-family: 'pretendardMedium';
}

.backGround {z-index: 3; background-color: #000; width: 100%; height: 100vh; position: fixed; display: none; opacity: 0;}
.contentsArea {width: calc(100vw * 1296 / 1920); margin: 0 auto; position: relative;}

.aniBefore {position: relative; opacity: 0; top: calc(100vw * 40 / 1920);}
.pngAniBefore {position: relative; opacity: 0;}

.header { position: fixed; top: 0; width: 100vw; height: calc(100vw * 110 / 1920); z-index: 1; background-color: white; z-index: 4; text-align: center; overflow: hidden; -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    transition:.5s;}
.header.active { height: calc(100vw * 375 / 1920);}
.header .webName {position: absolute; top: calc(100vw * 29 / 1920); left: 50%; font-size: calc(100vw * 40 / 1920); transform: translateX(-50%);  font-family: 'pretendardExtraBold'; width: calc(100vw * 170 / 1920);}
.header ul>li {cursor: pointer;}
.header ul>li img {width: calc(100vw * 4 / 1920); position: absolute; top: 50%; transform: translateY(-50%); margin-left: calc(100vw * 10 / 1920);}
.header .headerHome {position: absolute; top: calc(100vw * 45 / 1920); left: calc(100vw * 54 / 1920); font-size: calc(100vw * 14 / 1920); color: #666666;font-family: 'pretendardMedium';}
.header .headerHome li {display: inline-block;margin-right: calc(100vw * 24 / 1920); cursor: pointer; }
.header .headerSign {position: absolute; top: calc(100vw * 45 / 1920); right: calc(100vw * 55 / 1920); font-size: calc(100vw * 14 / 1920); color: #666666;font-family: 'pretendardMedium';}
.header .headerSign li {display: inline-block; margin-left: calc(100vw * 27 / 1920);}
.header nav {position: absolute; top: calc(100vw * 48 / 1920); left: 50%; transform: translateX(-50%); width: 100%; font-size: calc(100vw * 20 / 1920);}
.header nav>ul>li{display: inline-block;font-family: 'pretendardExtraBold';margin-bottom: calc(100vw * 10 / 1920); cursor: pointer;}
.header nav>ul>li a {display: inline-block;}
.header nav>ul>li a::after{content: ''; display: block; left: 0; bottom: 0; width: 0; height: calc(100vw * 6 / 1920); background-color: #000; margin-top: calc(100vw * 4 / 1920);}
.header nav>ul>li a:hover::after{width: 100%;}
.header nav>ul>li:nth-child(1){margin-right: calc(100vw * 102 / 1920);}
.header nav>ul>li:nth-child(2){margin-right: calc(100vw * 404 / 1920);}
.header nav>ul>li:nth-child(3){margin-right: calc(100vw * 98 / 1920);}
.header nav>ul>li>ul{margin-top: calc(100vw * 70 / 1920); text-align: left; font-size: calc(100vw * 15 / 1920);}
.header nav>ul>li>ul>li{margin-bottom: calc(100vw * 15 / 1920);font-family: 'pretendardMedium';color: #666666;}
.header nav>ul>li>ul>li a{display: inline-block;}
.header nav>ul>li>ul>li a:hover{color: #ED1B94; font-family: 'pretendardBold';}
.header nav>ul>li>ul>li a::after{content: ''; display: block; left: 0; bottom: 0; width: 0; height: calc(100vw * 2 / 1920); background-color: #ED1B94; }
.header nav>ul>li>ul>li a:hover::after{width: 100%;}

header .right ul li a {color: var(--White); display: inline-block;}
header .right ul li a::after {content: ''; display: block; left: 0; bottom: 0; width: 0; height: calc(100vw * 2 / 1920); background: var(--White); margin-top: calc(100vw * 10 / 1920); transition: all ease-in-out 0.3s;}
header .right ul li a:hover:after {width: 100%;}

.header .headerBorder{margin-top: calc(100vw * 109 / 1920); width: 100vw; border-top: 1px solid #DDDDDD; z-index: 4;}

/* sections */
.section1 { position: relative; width: 100vw; margin-top: calc(100vw * 110 / 1920); padding: calc(100vw * 48 / 1920) calc(100vw * 60 / 1920) calc(100vw * 99 / 1920);}
.section1 .mainVideo {width: 100%;}
.section1 .mainVideo video {width: 100%; border-radius: 50px;}

/* section2 */
.section2 { position: relative; width: 100vw; height: calc(100vw * 1686 / 1920); background-color: #FFDA27; text-align: center; padding-top: calc(100vw * 143 / 1920); overflow-x: hidden;}
.section2>img {position: absolute;}
.section2>img:nth-child(1) {width: calc(100vw * 452 / 1920); margin-top: calc(100vw * 120 / 1920); right: calc(100vw * -150 / 1920);}
.section2>img:nth-child(2) {width: calc(100vw * 312 / 1920); margin-top: calc(100vw * 800 / 1920); left: calc(100vw * -50 / 1920);}
.pngAni1 { animation-duration: 2s; animation-iteration-count: infinite; animation-direction: alternate; position: absolute;}
@keyframes pngAni1 {to {margin-top: calc(100vw * 20 / 1920);}}
.pngAni2 { animation-duration: 2s; animation-iteration-count: infinite; animation-direction: alternate; position: absolute;}
@keyframes pngAni2 { to { margin-top: calc(100vw * 700 / 1920); }}
.section2 .section2Text .smallTitle {margin-bottom: calc(100vw * 22 / 1920); font-size: calc(100vw * 20 / 1920);font-family: 'pretendardBold'; display: flex;justify-content: center;align-items: center;}
.section2 .section2Text .smallTitle img {width: calc(100vw * 16 / 1920); height: calc(100vw * 16 / 1920); margin: 0 calc(100vw * 11 / 1920);}
.section2 .section2Text .bigTitle {font-size: calc(100vw * 40 / 1920); line-height: calc(100vw * 53 / 1920); margin-bottom: calc(100vw * 70 / 1920);font-family: 'pretendardBold';}
.section2 .videoArea {display: flex; justify-content: space-between; margin-bottom: calc(100vw * 80 / 1920);}
.section2 .videoArea .videoThumb {position: relative; width: calc(100vw * 620 / 1920);}
.section2 .videoArea .videoThumb .videoBtn {cursor: pointer;}
.section2 .videoArea .videoThumb .videoBtn img:nth-child(1) {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100vw * 100 / 1920);}
.section2 .videoArea .videoThumb .videoBtn img:nth-child(2) {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: calc(100vw * 100 / 1920); display: none;}
.section2 .gifArea {position: relative;}
.section2 .gifArea .gifThumb.gif1 {background-image: url(../img/gif1.gif); background-size: cover; width: calc(100vw * 379 / 1920); height: calc(100vw * 379 / 1920); position: absolute; top: calc(100vw * 265 / 1920); z-index: 2; border-radius: calc(100vw * 30 / 1920); background-size: cover;}
.section2 .gifArea .gifThumb.gif2 {background-image: url(../img/gif2.png); background-size: cover; width: calc(100vw * 621 / 1920); height: calc(100vw * 490 / 1920); position: absolute; left:calc(100vw * 155 / 1920); top: 0;}
.section2 .gifArea .gifThumb.gif3 {background-image: url(../img/gif3.png); background-size: cover; width: calc(100vw * 379 / 1920); height: calc(100vw * 379 / 1920); position: absolute; top: calc(100vw * 314 / 1920); left: calc(100vw * 566 / 1920); z-index: 2; cursor: pointer;}
.section2 .gifArea .gifThumb.gif4 {background-image: url(../img/gif4.png); background-size: cover; width: calc(100vw * 416 / 1920); height: calc(100vw * 501 / 1920); position: absolute; top: calc(100vw * 61 / 1920); right: 0;}
.section2 .gifArea .gifThumb img {width: calc(100vw * 379 / 1920); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); display: none;}
.modal { text-align: center; display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 6; width: calc(100vw * 1200 / 1920);}
.grayBack { width: 100%; height: 100%; background-color: black; position: fixed; top: 0; bottom: 0; opacity: 70%; z-index: 5; display: none;}
.deleteBtn {width: calc(100vw * 34 / 1920); height: calc(100vw * 34 / 1920); cursor: pointer; position: fixed; top: calc(100vw * 40 / 1920); right: calc(100vw * 53 / 1920); z-index: 6; display: none; background-image: url(../img/deleteBtn.png); background-size: cover;}

/* section3 */
.section3 {position: relative;width: 100vw;height: calc(100vw * 816 / 1920);background-color: white;padding-top: calc(100vw * 143 / 1920);}
.section3 .section3Text{margin-bottom: calc(100vw * 43 / 1920);}
.section3 .section3Text p:nth-child(1){font-size: calc(100vw * 20 / 1920); margin-bottom: calc(100vw * 27 / 1920); color: #EC088B;font-family: 'pretendardBold';}
.section3 .section3Text p:nth-child(2){font-size: calc(100vw * 40 / 1920); font-family: 'pretendardBold';}
.section3 .applyBtn{background-image: url(../img/applyBtn.png); width: calc(100vw * 240 / 1920); height: calc(100vw * 72 / 1920); position: absolute; margin-top: calc(100vw * 29 / 1920); right: 0;}
.section3 .applyBtn p{color: white; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); display: inline-block; font-size: calc(100vw * 24 / 1920);}

.apply {width: calc(100vw * 240 / 1920); height: calc(100vw * 72 / 1920); background-color: #000; color: #fff; font-size: calc(100vw * 24 / 1920); font-weight: bold; text-align: center; border-radius: calc(100vw * 60 / 1920); overflow: hidden; border: none;right: 0; margin-top: calc(100vw * 15 / 1920); position: absolute;}
.apply p {display: block; height: calc(100vw * 33 / 1920); overflow: hidden; margin-left: 0%; color: #fff; font-family: 'pretendardBold';}
.apply:hover {background-color: #ED1B94;}
.apply:hover p {display: inline-block; white-space: nowrap; will-change: transform; animation: marquee 12s linear infinite;}
@keyframes marquee { 0% {transform: translateX(0);} 100% {transform: translateX(-90%);} }
.section3 .blockArea{display: flex; justify-content: space-between;}
.section3 .blockArea .blocks{width: calc(100vw * 1295 / 1920); height: calc(100vw * 394 / 1920);}
.section3 .blockArea .blocks video{width: 100%;}
/* .section3 .blockArea .block{width: calc(100vw * 394 / 1920); height: calc(100vw * 394 / 1920);} */
.section3 .blockArea .block.block1{background-image: url(../img/block1.gif); background-size: cover; border-radius: calc(100vw * 20 / 1920);}
.section3 .blockArea .block.block2{background-image: url(../img/block2.png); background-size: cover;}
.section3 .blockArea .block.block3{background-image: url(../img/block3.png); background-size: cover;}

.section4 {position: relative; width: 100vw; height: calc(100vw * 900 / 1920); background-color: #212121; overflow: hidden;}
.section4 .section4Text{color: white;}
.section4 .section4Text>p:nth-child(1) {font-size: calc(100vw * 20 / 1920); margin-bottom: calc(100vw * 68 / 1920); font-family: 'pretendardExtraBold';margin-top: calc(100vw * 230 / 1920);letter-spacing: calc(100vw * 5 / 1920);}
.section4 .section4Text .interviewList {display: flex;flex-direction: column; width: fit-content;}
.section4 .section4Text .interviewList .interviewLi {font-size: calc(100vw * 40 / 1920); font-family: 'pretendardBold'; position: relative; cursor: pointer; color: #646464;}
.section4 .section4Text .interviewList .interviewLi p {z-index: 3; position: relative;}
.section4 .section4Text .interviewList .interviewLi .interviewBorder{width: calc(100vw * 155 / 1920); position: absolute; top: 70%; left: 50%; transform: translateX(-50%); z-index: 1; display: none;}
.section4 .section4Text .interviewList .interviewLi .interviewBorder.active{display: block;}
.section4 .section4Text .interviewList .interviewLi.active{color: white;}
.section4 .section4Text .interviewList .interviewLi:nth-child(1){margin-bottom: calc(100vw * 31 / 1920);}
.section4 .interviewPeople {position: absolute; margin-top: 0; left: 0; width: 100%; height: 100%;}
.section4 .interviewPeople .people {position: relative; animation-duration: 1s;
    /* animation-delay: 0.8s; */
    animation-fill-mode: forwards;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
    /* opacity: 0; */
}
.section4 .interviewPeople .people2 {opacity: 0;
    
}
.section4 .interviewPeople .people div .bigPeople1 {position: absolute;  left: 50%; transform: translateX(-50%); width: calc(100vw * 983.12 / 1920); height: calc(100vw * 798.08 / 1920);}
.section4 .interviewPeople .people div .bigPeople2 {position: absolute;  left: 50%; transform: translateX(-50%); width: calc(100vw * 983.12 / 1920); height: calc(100vw * 798.08 / 1920);}
.section4 .interviewPeople .people div .textBox {position: absolute;  margin-top:calc(100vw * 154 / 1920); left: calc(100vw * 562 / 1920); width: calc(100vw * 239 / 1920); opacity: 0;}
/* 실험중 */
.section4 .interviewPeople .people div .textBox {
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}
    @keyframes test {
        0% {opacity: 0%; top: calc(100vw * 40 / 1920)}
        100% {opacity: 100%; top: 0}
      }
    @keyframes test2 {
        0% {opacity: 0%; top: calc(100vw * 40 / 1920)}
        100% {opacity: 100%; top: -50px}
      }
/* 실험중 */
.section4 .interviewPeople .people div .peopleBigBox {position: absolute;  top:calc(100vw * 566 / 1920); left: 50%; width: calc(100vw * 236 / 1920); transform: translateX(-50%);}
.section4 .interviewPeople .people div .peopleBigName {position: absolute;  top:calc(100vw * 638 / 1920); left: 50%; transform: translateX(-50%); color: white; font-size: calc(100vw * 40 / 1920); font-family: 'pretendardBold';}
.section4 .interviewPeople .people div .peopleMiddle {position: absolute; width: calc(100vw * 354 / 1920); top:calc(100vw * 243 / 1920); left: calc(100vw * 1274 / 1920);}
.section4 .interviewPeople .people div .peopleSmall {position: absolute; width: calc(100vw * 178 / 1920); top:calc(100vw * 507 / 1920); left: calc(100vw * 1641 / 1920);}




.section5 {position: relative; width: 100vw; height: calc(100vw * 969 / 1920); top: -100px;}
.section5 img{position: absolute;}
.section5 .csrPerson{width: calc(100vw * 226 / 1920); margin-top: calc(100vw * 100 / 1920); left: calc(100vw * 542 / 1920);}
.pngAni3 {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    position: absolute;
  }
  
  @keyframes pngAni3 {
    to {
        margin-top: calc(100vw * 12 / 1920);
    }
  }
.section5 .section5Text{position: absolute; margin-top: calc(100vw * 308 / 1920); left: calc(100vw * 872 / 1920); margin-bottom: calc(100vw * 223 / 1920);}
.section5 .section5Text p:nth-child(1){font-size: calc(100vw * 20 / 1920); margin-bottom: calc(100vw * 44 / 1920); font-family: 'pretendardBold';}
.section5 .section5Text p:nth-child(2){font-size: calc(100vw * 28 / 1920); margin-bottom: calc(100vw * 13 / 1920); line-height: calc(100vw * 37 / 1920);  font-family: 'pretendardBold';}
.section5 .section5Text p:nth-child(3){font-size: calc(100vw * 24 / 1920); line-height: calc(100vw * 32 / 1920); margin-bottom: calc(100vw * 52 / 1920);font-family: 'pretendardMedium'}
.section5 .section5Text .csrBtn{position: relative; width: calc(100vw * 240 / 1920); height: calc(100vw * 72 / 1920); background-color: black; border-radius: calc(100vw * 100 / 1920); color: white;font-family: 'pretendardBold'; cursor: pointer;}
.section5 .section5Text .csrBtn p{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);font-size: calc(100vw * 24 / 1920); width: 100%;text-align: center;}

/* section6 */
.section6 {width: 100vw; height: calc(100vw * 418 / 1920);}
.section6 .newsArea{display: flex; justify-content: space-between;}
.section6 .newsArea .news{position: relative; width: calc(100vw * 400 / 1920); height: calc(100vw * 458 / 1920); border-radius: calc(100vw * 30 / 1920); overflow: hidden; box-shadow: calc(100vw * 10 / 1920) calc(100vw * 10 / 1920) calc(100vw * 30 / 1920) rgba(0, 0, 0, 0.16); top: calc(100vw * -140 / 1920);}
.section6 .newsArea .news img:nth-child(1){position: absolute; width: calc(100vw * 72 / 1920); z-index: 1; top: calc(100vw * 200 / 1920); left: 50%; transform: translateX(-50%);}
.section6 .newsArea .news img:nth-child(2){width: calc(100vw * 400 / 1920);}
.section6 .newsArea .news .newsText{margin-top: calc(100vw * 47 / 1920); text-align: center; padding: 0 calc(100vw * 30 / 1920);}
.section6 .newsArea .news .newsText {line-height: calc(100vw * 24 / 1920);}
.section6 .newsArea .news .newsText p:nth-child(1){font-size: calc(100vw * 18 / 1920); font-family: 'pretendardBold'; line-height: calc(100vw * 21 / 1920); margin-bottom: calc(100vw * 12 / 1920);}
.section6 .newsArea .news .newsText p:nth-child(2){font-size: calc(100vw * 15 / 1920); color:#666666; line-height: calc(100vw * 24 / 1920);word-break:keep-all;font-family: 'pretendardMedium';}

.footer { position: relative; width: 100vw; height: calc(100vw * 167.5 / 1920); background-color: white; z-index: 1; border-top: #C4C4C4 1px solid; padding-left: calc(100vw * 196 / 1920); padding-top: calc(100vw * 65.5 / 1920); display: flex;}
.footer .footerLogo{background-image: url(../img/footerLogo.png); background-size: cover; width: calc(100vw * 80 / 1920); height: calc(100vw * 36 / 1920); margin-right: calc(100vw * 59 / 1920);}
.footer .footerUl{display: flex;font-size: calc(100vw * 16 / 1920); margin-bottom: calc(100vw * 8 / 1920);font-family: 'pretendardBold'; color: #333333;}
.footer .footerUl li{margin-right: calc(100vw * 18 / 1920);}
.footer .footerText p{color: #666666; font-size: calc(100vw * 15 / 1920);}
.footer .btnWrap {position: absolute; right: calc(100vw * 350 / 1920);}

.dropup {position: relative; display: inline-block; z-index: 7;}
.dropup .dropbtn {color: #000;font-size: calc(100vw * 12 / 1920); border: none; width: calc(100vw * 165 / 1920); height: calc(100vw * 40 / 1920);background-color: #EEEEEE;font-family: 'pretendardBold'; text-align: left; padding-left: calc(100vw * 15 / 1920); border-radius: calc(100vw * 5 / 1920);}
.dropup .dropbtn img {width: calc(100vw * 9.28 / 1920); position: absolute; top: 50%; transform: translateY(-50%); right: calc(100vw * 16.5 / 1920);}
.dropup .dropup-content {display: none; position: absolute; bottom: calc(100vw * 40 / 1920); background-color: #f1f1f1; min-width: calc(100vw * 160 / 1920); box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); z-index: 7;}
.dropup .dropup-content a {color: #000; padding: calc(100vw * 12 / 1920) calc(100vw * 16 / 1920); text-decoration: none; display: block;}
.dropup .dropup-content a:hover {background-color: #ddd}
.dropup:hover .dropup-content {display: block;}
/* .dropup:hover .dropbtn {background-color: royalblue;} */